body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
    text-align: center;
}

.flexible-container {
    display: flex;
}

.center {
    text-align: center;
    color: white;
    background-image: url(images/donation1.jpg);
    width: 100%;
    height: 700px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 20px;
    color: white;
    font-weight: 700px;
    border-radius: 5%;
}

#donate {
    text-align: center;
    color: black;
    width: 100%;
}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.course-col {
    flex-basis: 31%;
    background: rgba(69, 91, 170, 0.741);
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}

.try {
    flex-basis: 31%;
    background: rgba(252, 141, 77, 0.741);
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}

.bass {
    flex-basis: 31%;
    background: pink;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}

.conflick {
    text-align: center;
    margin-top: 360px;
}

.btn {
    border: 1px solid rgba(252, 141, 77, 0.741);
    background: none;
    padding: 10px 20px;
    font-size: 20px;
    font-family: "montserrat";
    cursor: pointer;
    margin: 10px;
}

.btn2 {
    color: rgba(252, 141, 77, 0.741);

}

.gallery {
    width: 1000px;
    height: 400px;
    background: #ccc;
    background-image: url(images/donation5.jpg);
    margin: 120px auto;
    display: flex;
}

.col {
    height: 100%;
    display: flex;
    color: #fff;
    box-sizing: border-box;
    padding: 25px;
}

.col:nth-child(1) {
    background: green;
}

.captain {
    max-width: 230px;
    font-size: 12px;
    margin: 28px 0;
}

.captain button {
    border: 1px solid #fff;
    background: transparent;
    outline: none;
    padding: 8px 18px;
    color: #fff;
    border-radius: 30px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 12px
}

#help {
    text-align: center;
}

.bol {
    padding: 0;
    margin: 0;
    font-family: 'robot' sans-serif;
    box-sizing: border-box;
    background: #ececec;
}

.vox {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
}

.form-box {
    padding: 10px;
    border-radius: 5px;
    background: #ececec;
    box-shadow: 10px 10px 15px #c7c4c4, -10px -10px 15px #fff;
}

.form-box button {
    color: #fff;
    padding: 5px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background: rgb(248, 49, 49);
    cursor: pointer;
    transition: 3s;
}

footer {
    background: rgb(15, 12, 8);
    height: fit-content;
}

.footer-content {
    display: flex;
    align-items: center;
    color: #fff;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.orange-color {
    color: rgb(180, 77, 9);
}

.update {
    text-align: center;
}